<!DOCTYPE html>
<html>
<head>
  <title>Dharma Help</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<FrontLogo><%= link_to 'Dharma Help', root_path%></FrontLogo>

<%= form_tag posts_path, method: :get do %>
<div class="search-bar">
    <div class="search-and-submit">
        <%= text_field_tag :query, params[:query], placeholder: "search here"%>

      <button type="submit">
        <%= image_submit_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png", width:15, title: nil) %>

      </button>
    </div>
  </div>
<% end %>

<br>
<br>
<hr>
<%= yield %>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %> <br>
<%= link_to 'Home', root_path %>
<%= link_to '| Categories', categories_path %>
<%= link_to '| New Post', new_post_path, :data => { :no_turbolink => true }  %><br>

</body>
</html>
